
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}


h1 {
  font-size: 24px;
  margin: 20px 0;
}


h2 {
  font-size: 20px;
  margin: 10px 0;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sorting-options {
  margin-bottom: 20px;
}

.sorting-options button {
  background-color: #61dafb;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.sorting-options button:hover {
  background-color: #2f81c0;
}

.home-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-product-item {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.home-product-item:hover {
  transform: scale(1.05);
}

.home-product-item img {
  max-width: 100px;
  height: auto;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.cart-button {
  color: #ffffff;
  text-decoration: none;
  background-color: #61dafb;
  padding: 10px 15px;
  border-radius: 5px;
}

.cart-button:hover {
  background-color: #2f81c0;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-list li:last-child {
  border-bottom: none;
}

.cart-list img {
  max-width: 50px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  input[type="text"] {
    padding: 8px;
  }

  .home-product-item {
    max-width: 100%;
  }

  .sorting-options button {
    padding: 8px 12px;
  }

  .header h1 {
    font-size: 20px;
  }

  .cart-button {
    padding: 8px 12px;
  }

  .cart-list img {
    max-width: 40px;
  }
}
